/* Header */

header {
	top: 0;
	position: relative;
	border-bottom: 5px solid #63639b;
	background: rgb(245, 246, 246);
	background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 67%, rgba(184, 186, 198, 1) 91%, rgba(155, 155, 155, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 67%, rgba(184, 186, 198, 1) 91%, rgba(155, 155, 155, 1) 100%);
	background: linear-gradient(to bottom, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 67%, rgba(184, 186, 198, 1) 91%, rgba(155, 155, 155, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#9b9b9b', GradientType=0);
}

body {
	font-family: 'Noto Sans', sans-serif;
	background-image: url("../img/imgfons.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(0, 0, 0.4);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.cabecera {
	display: flex;
	height: 60px;
	justify-content: space-between;
}

.cabecera h1 {
	font-size: 30px;
	margin: auto 10px;
	display: block;
	color: #8282c6;
	text-shadow: 0 2.36px 1.896px #3a3a5c, -1px -2px 1px #3d3d63;
}

.imatge>img {
	width: 150px;
	display: inline-block;
	margin: 10px;
}

#access {
	width: 23px;
	margin-top: 2px;
}

.menu {
	background-color: #FF9B21;
	height: 30px;
}

.menucontenidor {
	display: flex;
	justify-content: space-between;
}

.menucontenidor>a {
	padding-left: 40px;
	padding-right: 40px;
	border-left: 0.5px solid #E48E25;
	height: 30px;
	border-right: 0.5px solid #E48E25;
}

.menucontenidor a:hover {
	border-bottom: 4px solid #696BB3;
	background-color: #FFCB8C;
}

/* Cos de pagina */

h2 {
	margin: 15px 0px;
}

.empresa {
	font-weight: bolder;
	color: #696BB3;
}

.cos-pagina {
	display: flex;
	flex-direction: column;
	flex:1;
	justify-content: center;
}

.seccio-central {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0px 0px 10px #63639b;
	border-bottom: 5px solid #63639b;
	border-top: 5px solid #FF9B21;
}

.seccio-central p {
	text-align: justify;
}

.seccio-calendar {
	flex-direction: column;
	padding: 80px;
	justify-content: space-around;
	align-items: center;
	height: 450px;
	background-color: white;
	box-shadow: 0px 0px 10px #63639b;
	border-bottom: 5px solid #63639b;
	border-top: 5px solid #FF9B21;
}

.warning {
	padding: 10px 58px;
	margin: 0px auto;
	background-color: #ffe4e4;
	border-radius: 5px;
	box-shadow: 0px 1px 2px 1px #802D2D;
	color: #FF3131;
	display: none;
	text-align: center;
}

.calendari {
	width: 50%;
	font-size: 12px;
	margin: 0px auto;
}

.botons-calendar {
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.flecha {
	height: 84px;
	background-color: #9b4dca;
	padding: 13px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #63639b;
}

.enviadades {
	display: flex;
	justify-content: space-between;
}

/* Area Personal */

.menu_areap li {
	list-style: none;
	display: inline-block;
}

form .matricula {
	width: 100%;
}

/* Seccio hores */

.seccio-hores {
	justify-content: center;
	display: flex;
}

.blochora {
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color: #9393DE;
	box-shadow: 0px 1px 2px 1px #802D2D;
	margin: 5px;
	padding: 20px 40px;
	border-radius: 5px;
	display: inline-block;
}

.horaSel {
	color: #A5460A;
	font-size: 15px;
	font-weight: bold;
	background-color: #FFBA67;
	!important;
	box-shadow: 0px 1px 2px 1px #802D2D;
	margin: 5px;
	padding: 20px 40px;
	border-radius: 5px;
	display: inline-block;
}

.blochora:hover {
	color: #A5460A;
	background-color: #FFBA67;
	cursor: pointer;
}

.submit {
	margin-top: 35px;
	justify-content: space-around;
}

#buttonsHora {
	margin-left: -8%;
}

.selected {
	background-color: #FDE5FC !important;
}

.avui {
	background-color: #DEF7FF !important;
	cursor: not-allowed;
}

.noDisp {
	background-color: lightgray;
}

.noDisp:hover {
	background-color: lightgray;
	cursor: not-allowed;
	color: black;
}

.disp {
	background-color: white;
	cursor: pointer;
}

.horaNoDisp {
	color: black;
	background-color: lightgray;
	font-size: 15px;
	font-weight: bold;
	background-color: #9393DE;
	box-shadow: 0px 1px 2px 1px #802D2D;
	margin: 5px;
	padding: 20px 40px;
	border-radius: 5px;
	display: inline-block;
}

.horaNoDisp:hover {
	cursor: not-allowed;
}

#ap {
	margin: 2px !important;
}

/* Peu de pagina */

.peu {
    background-image: url("../img/footerback.png");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-top: 5px solid #FF9B21;
    padding: 25px 0px 25px 0px;
    background-color: #63639B;
		margin-top: 10px;

}

footer .info {
	color: white;
	font-size: 10px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #565683;
	padding-top: 20px;
}

.peu h4 {
	line-height: 0.5px;
}

footer .info h5 {
	line-height: 0.5px;
}

footer .contact a {
	color: #D4AB32;
	text-decoration: underline;
}

.nodisplay{
	display:none;
}